<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/main.css" >
        <script src="/public/main.js" type="text/javascript"></script>
        <title>Url Shortener</title>
    </head>

    <body>
        <div class="form">
            <div class="form__title">
                <h1>Enter a Url to shorten:</h1>
            </div>
            <div class="form__container">
                <form action="/create" method="POST">
                    <input class="form__input-url" type="text" name="longUrl" placeholder="Your URL here" />
                    <button class="form__button" type="submit" value="Submit" />Submit</button>
                </form>
            </div>
        </div>
    </body>

</html>
